# MultiCollinearity Example by `Mr. Harshit Dawar!`
* The features that are having very high corrleation will create the problem of multicollinearity!

In [1]:
# Importing Required Libraries
import numpy as np
import pandas as pd

## Example 1

In [94]:
data = []
for i in range(100):
    x = np.random.randint(low = 0, high = 51)
    y = np.random.randint(low = 0, high = 51)
    data.append([x, y, 100 - x - y])

In [105]:
print(data[:15])

    Cost 1  Cost 2  Cost 3
0        0      21      79
1       14      41      45
2        3      20      77
3       35       0      65
4       16      29      55
5       25      46      29
6       40      38      22
7       11      44      45
8       33      40      27
9       30      44      26
10      21       3      76
11      39      38      23
12      43      17      40
13      46      13      41
14      12       8      80

In [101]:
data = pd.DataFrame(data, columns = ["Cost 1", "Cost 2", "Cost 3"])

In [102]:
data.corr()

          Cost 1    Cost 2    Cost 3
Cost 1  1.000000  0.028474 -0.753116
Cost 2  0.028474  1.000000 -0.679066
Cost 3 -0.753116 -0.679066  1.000000

## Example 2

In [65]:
gender = []
for i in range(100):
    x = np.random.randint(0, 2)
    gender.append([x, 1 - x])

In [124]:
print(gender[:15])

[[0, 1], [0, 1], [0, 1], [0, 1], [1, 0], [1, 0], [1, 0], [1, 0], [0, 1], [1, 0], [1, 0], [0, 1], [0, 1], [1, 0], [0, 1]]

In [72]:
GenderData = pd.DataFrame(gender)

In [113]:
GenderData.head()

   0  1
0  0  1
1  0  1
2  0  1
3  0  1
4  1  0

In [106]:
GenderData.corr()

     0    1
0  1.0 -1.0
1 -1.0  1.0

## Example 3

In [107]:
t3 = []
for i in range(100):
    x = np.random.randint(0, 2)
    y = np.random.randint(0, 2)
    t3.append([x, 1 - x, y])

In [109]:
pd.DataFrame(t3).corr()

          0         1         2
0  1.000000 -1.000000  0.134008
1 -1.000000  1.000000 -0.134008
2  0.134008 -0.134008  1.000000

# Congratulations you have successfully learned how to calculate multicollinearity!